<!DOCTYPE html>
<html>
  <head>
    <title>CampusCATALYST</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav>
      <div>
        <a href="/">
          <i class="fab fa-firstdraft fa-fw"></i>
          Home
        </a>
      </div>

      <div>
        <a href="/users">
          <i class="fas fa-users"></i>
          All Users
        </a>
      </div>

      <div>
        <a href="/applications">
          <i class="fas fa-users"></i>
          All Applications
        </a>
      </div>

      <div>
        <a href="/projects">
          <i class="fas fa-users"></i>
          All Projects
        </a>
      </div>

      <% if @current_user == nil %>
        <div>
          <a href="/sign_up">
            Sign up
          </a>
        </div>

        <div>
          <a href="/sign_in">
            Sign in
          </a>
        </div>
      
      <% else %>
        <div>
          <a href="/users/<%= @current_user.id %>">
            <i class="fab fa-firstdraft fa-fw"></i>
            Profile
          </a>
        </div>

        <div>
          <a href="/sign_out">
            Sign out
          </a>
        </div>
      <% end%>

    </nav>

    <% if alert.present?%>
      <p style="border: thin red solid;"><%=alert %></p>
    <% end %>

    <% if notice.present?%>
      <p style="border: thin green solid;"><%= notice %></p>
    <% end %>

    <%= yield %>
  </body>
</html>